{{!-- This is a placeholder file for the sign up form until we 
create the frontend React component in the client repo. --}}

<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<form action="/signup" method="post">
    <input type="text" name="email">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="text" name="password">
    <button type="submit">Submit</button>
</form>