version: 2
jobs:
  backend_test:
      docker:
        - image: node:8.4.0
      dependencies:
        override:
          - echo $PATH
      steps:
        - checkout
        - run:
            command: |
              cd test
              npm install
              npm run test
workflows:
  version: 2
  build-test:
    jobs:
      - backend_test